/* You can add global styles to this file, and also import other style files */
@import "../node_modules/spectre.css/src/spectre";
.suits-blue-fg {
  color: mediumblue;
}

.suits-green-fg {
  color: darkgreen;
}

.suits-yellow-fg {
  color: gold;
}

.suits-red-fg {
  color: darkred;
}
