@import "../../../node_modules/spectre.css/src/spectre";
.nyet-board {
  .choice {
    @extend .col-2;
    position: relative;
  }
  .choice-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0.2;
  }
  .trump-row .choice {
    width: 20.83%;
  }
}
